extends layout 

block content 
  #gamelist-title-container
    h1 Age Ratings 
    a(href="/rating/create") #[button Add an Age Rating]
  #gamelist-container
    for agerating in data 
      .gamelist-game
        a(href=agerating.url)
          img(src=`/images/uploads/${agerating.image}`, alt="Rating logo")
          p=agerating.name 