extends layout 

block content 
  #gamelist-title-container
    h1 Developers 
    a(href="/developer/create") #[button Add a Developer]
  #gamelist-container
    for developer in data 
      .gamelist-game
        a(href=developer.url)
          img(src=`/images/uploads/${developer.image}`, alt="Developer logo")
          p=developer.name 