extends layout

block content 
  #game-helper-container
    #game-container
      h1= developer.name 
      img#game-cover(src="/images/fromsoft.svg", alt="Developer logo")
      p= developer.description

      .button-container
          a.button-edit(href=`${developer.url}/update`) Edit
          a.button-delete(href=`${developer.url}/delete`) Delete