extends layout 

block content 
  #gamelist-title-container
    h1 Genres 
    a(href="/genre/create") #[button Add a Genre]
  #gamelist-container
    for genre in data 
      .gamelist-game
        a(href=genre.url)
          p=genre.name 
          p=genre.description