extends layout 

block content 
  #game-helper-container
    #game-container
      h1= genre.name 
      p= genre.description

      .button-container
          a.button-edit(href=`${genre.url}/update`) Edit
          a.button-delete(href=`${genre.url}/delete`) Delete