extends layout 

block content 
  #gamelist-title-container
    h1 Platforms
    a(href="/platform/create") #[button Add a Platform]
  #gamelist-container
    for platform in data 
      .gamelist-game
        a(href=platform.url)
          img(src=`/images/uploads/${platform.image}`, alt="Game Console")
          p=platform.name 