extends layout 

block content
  #game-helper-container
    #game-container
      h1= platform.name 
      img#game-cover(src="/images/ps5.png", alt="Console")
      p= platform.description

      .button-container
          a.button-edit(href=`${platform.url}/update`) Edit
          a.button-delete(href=`${platform.url}/delete`) Delete