extends layout 

block content 
  .form-margin
    .form-container
      h1=title

      form.form(action="" method='POST' enctype="multipart/form-data")
        .form-title
          label(for="name") Name: 
          input#name(type='text' placeholder='Name' name='name' required='true' value=(platform === undefined ? '' : platform.name)) 
          label(for="description") Description: 
          textarea#description(placeholder='Description...' name='description' required='true' cols="30", rows="10") #{platform === undefined ? '' : platform.description}
          label(for="image") Image: 
          input#image(type="file" accept='image/*' name='image' required='true') 
        if title.includes('Edit')
          label(for="password") Password: 
          input#password(type='password' placeholder='???' name='password' required='true') 
        button.button-form-submit(type='submit') Submit
        if error
          p Incorrect password!