extends layout 

block content 
  #gamelist-title-container
    h1 Publishers 
    a(href="/publisher/create") #[button Add a Publisher]
  #gamelist-container
    for publisher in data 
      .gamelist-game
        a(href=publisher.url)
          img(src="/images/bamco.svg", alt="Publisher logo")
          p=publisher.name 