html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

#nav {
  background-color: beige;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
    font-family: 'Open Sans';
    font-size: 20px;
  }

  #title {
    text-align: center;
    font-family: 'Nunito';
    font-weight: bold;
    margin: 0;
    font-size: 50px;
  }
}
